/*
Theme Name: CSS Nite in Aomori
Theme URI: https://github.com/calmtech/wp-theme-scaffold
Author: CalmTech
Author URI: http://www.calmtech.net
Description: Scaffold for creating WordPress theme with Sass, Compass, Guard
Version: 0.2
License: GNU General Public License v3
License URI: http://www.gnu.org/licenses/gpl-3.0.html
Tags: custom, sass, compass, guard
Text Domain: wp-theme-scaffold
*/

/* CSS Document */

/*-----------Font Setting-------------*/

/* for WinIE6*/
* html body {font-size: small; vertical-align:baseline;}
/* for WinIE7*/
*:first-child+html body {font-size: small;}

body {
	font: normal 14px/1.6 Verdana, "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "HiraKakuPro-W3","ＭＳ Ｐゴシック", "MS P Gothic", sans-serif;
	line-height: 1.6em;
	background-image: url(img/mainbg.png);
	background-repeat: repeat;
}


.wrapper {
	width: 980px;
	margin: auto;

}

.map {width: 700px;height: 500px;margin: 15px 30px;}

/* ==================================================================================

		header

================================================================================== */
header {
	margin: auto;
	width: 100%;
	height: 225px;
	background: url(img/headerbg.png) top no-repeat;
	background-color: #ffffff;

}
header h1 {
	float: left;
	margin-top: 18px;
}
header .inner {
	width: 980px;
	margin: auto;
}
header .inner p {
	float: left;
	margin-top: -30px;
	padding: 0px 25px;
}
header .form {
	float: right;
	width: 260px;
	height: 64px;
	background-image: url(img/headerformbg.png);
	background-repeat: no-repeat;
}
header .form img{
	margin: 0px;
	padding-top: 0px;
	padding-left: 13px;
}
header .nav{

	clear: both;
	padding-top: 20px;
	background: url(img/navbg.png) bottom repeat-x;
	height: 88px;
	width: 100%;
}

header nav  {
margin: -18px auto auto;
	background-image: 
		url(img/nav/left.png),
		url(img/nav/right.png);
	background-repeat: no-repeat;
	background-position: bottom left,center right;
	height: 115px;
	width: 1032px;

}

header nav ul {
	width: 857px;
	margin: auto;
	padding-top: 18px;
}


header nav ul li {
	float: left;
	padding-right: 1px;
	background: url(img/nav/sp.png) right center no-repeat;
}
header nav ul li img{
padding-left: 37px;
padding-right: 37px;
padding-bottom: 29px;
padding-top: 29px;
}

header nav ul li:last-child {
	background: none;
}

header nav a{
	display: block;
	padding-top: 3px;
}
header nav .sp {
	display: none;
}
/* ==================================================================================

		main

================================================================================== */

#mainwrapper {
	width: 770px;
	float: left;
	padding: 0;
    margin: 0;

}
#main {
	background-color: #ffffff;
    border-radius: 5px 5px 5px 5px;
    padding: 8px 0;
    margin-bottom: 40px;
    font-size: 15px;
    margin-top: 30px;
}
#main h2 {
	color: #00832d;
	font-size: 180%;
	margin-left: -20px;
	padding: 20px 53px;
	background-image: url("img/h2.png");
    background-repeat: no-repeat;
    background-position: 0px center;
	line-height: 1em;
}
#main h3 {
	color: #00832d;
	margin: 30px 0 15px;
	font-size: 150%;
	padding: 0 25px;
}
#main h4 {
	margin: 30px 0 15px;
	font-size: 130%;
	padding: 0 25px;
}
#main strong {
	font-weight: bold;
	color: #f10d58;
}





#visual{
	margin-top: 30px;
    background-color: #FFFFFF;
    border-radius: 7px 7px 7px 7px;
    box-shadow: 0 0 7px #CCCCCC;
	padding: 25px 10px 20px 20px;}

.toform img{
	float: right;
	margin-right: 5px;
	margin-top: 30px;
	padding: 15px 25px;
	background: -moz-linear-gradient(
		top,
		#d13071 0%,
		#d13071 50%,
		#db4682);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#d13071),
		color-stop(0.50, #d13071),
		to(#db4682));
	-moz-border-radius: 14px;
	-webkit-border-radius: 14px;
	border-radius: 10px;
	border: 3px solid #ffffff;
	-webkit-box-shadow: 1px 1px 3px 1px #cccccc;
	-moz-box-shadow: 1px 1px 3px 1px #cccccc;
	box-shadow: 1px 1px 3px 1px #cccccc;
}

.toformw{
	text-align: center;
}
.toformw img{
	margin-right: 5px;
	margin-top: 30px;
	padding: 8px 18px 8px 17px;
	background: #cf3471!important;
	background: -moz-linear-gradient(
		top,
		#d4467e 0%,
		#cf3471);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#d4467e),
		to(#cf3471));
	-moz-border-radius: 14px;
	-webkit-border-radius: 14px;
	border-radius: 10px;
	border: 2px solid #ffffff;
	-webkit-box-shadow: 1px 1px 3px 1px #f8d2da;
	-moz-box-shadow: 1px 1px 3px 1px #f8c2ca;
	box-shadow: 1px 1px 3px 1px #f8d2da;
}
.totoppage{
	text-align: center;
}
.totoppage img{
	margin-right: 5px;
	margin-top: 30px;
	padding: 6px 37px 6px 28px;
	background: #009933!important;
	background: -moz-linear-gradient(
		top,
		#008830 0%,
		#009933);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#008830),
		to(#009933));
	-moz-border-radius: 14px;
	-webkit-border-radius: 14px;
	border-radius: 10px;
	border: 2px solid #ffffff;
	-webkit-box-shadow: 1px 1px 3px 1px #94d0ab;
	-moz-box-shadow: 1px 1px 3px 1px #94d0ab;
	box-shadow: 1px 1px 3px 1px #94d0ab;
}
.toformvw{
	text-align: center;
}
.toformvw img{
	margin-right: 5px;
	margin-top: 10px;
	padding: 10px 80px;
	background: #cf3471!important;
	background: -moz-linear-gradient(
		top,
		#d4467e 0%,
		#cf3471);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#d4467e),
		to(#cf3471));
	-moz-border-radius: 14px;
	-webkit-border-radius: 14px;
	border-radius: 10px;
	border: 2px solid #ffffff;
	-webkit-box-shadow: 1px 1px 3px 1px #f8d2da;
	-moz-box-shadow: 1px 1px 3px 1px #f8c2ca;
	box-shadow: 1px 1px 3px 1px #f8d2da;
}

/* ==================================================================================

		sidebar

================================================================================== */
#sidebar {
	float: right;
	width: 190px;
	padding: 25px 0;
}
#sidebar .archive h2,
#sidebar .sponsors h2{
    background-color: #008822;
    color: #ffffff;
    padding: 5px;
	font-size: 125%;
	text-align: center;
}
#sidebar .sponsors ul li{
    margin: 5px 5px 0px;
}
#sidebar .sponsors ul{
    margin: 10px 0px 0px;
}
#sidebar .sponsors p{
	font-weight: bold;
	text-align: right;
    margin: 10px 0px 20px;
}
#sidebar .sponsors a{
	color: #2b38b0;
	text-decoration: none;
}
#sidebar .sponsors a:hover{
	color: #2b38b0;
	text-decoration: underline;
}
#sidebar .sponsors a:visited{
	color: #bc2066;
}
#sidebar .notice {
	margin-bottom: 20px;
    border-radius: 7px 7px 7px 7px;
    border: 1px solid #008822;
    padding: 8px;
}

#sidebar .notice h2{
    color: #008822;
	font-size: 120%;
}

#sidebar .fb {
	margin-bottom: 20px;
    background-color: #FFFFFF;
    border-radius: 7px 7px 7px 7px;
    padding: 8px;
}
#sidebar .fb h2{
    color: #213e92;
	font-size: 120%;
}
#sidebar .notice ul{
margin: 5px 0px 20px 15px;
}
#sidebar .archive ul{
margin: 5px 0 20px 25px;
}
#sidebar .archive ul li{
    font-size: 85%;
    list-style-image: url(img/arrow.png);
}
#sidebar .notice ul li{
	list-style-image: url(img/arrow.png);
	font-size: 90%;
}
#sidebar .notice a,
#sidebar .archive a{
	text-decoration: none;
		color:#555555;

}
#sidebar .notice span{
    color: #008822;
}
#sidebar .notice p{
	line-height: 1.6em;
}


/* ==================================================================================
		footer
================================================================================== */
footer {
	clear: both;
	background-image: url(img/footerbg.png);
	background-repeat: repeat-x;
	background-color: #00aa4f;
}
footer .inner {
	width: 960px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-right: 10px;
	padding-left: 10px;
}
footer #go-top {
	float: right;
}
footer #go-top a {
	color: #FFF;
	text-decoration: none;
	line-height: 30px;
	display: block;
	margin-right: -160px;
	margin-top: -110px;
}

footer ul {
	float: left;
	padding-left: 30px;
}
footer .col2{
	border-left:1px solid #a5e9c3;
	border-right:1px solid #a5e9c3;
}
footer ul li {
	margin-right: 1em;
	padding-right: 1em;
}
footer ul li a {
	display: block;
	color: #ffffff;
	text-decoration: none;
}
footer .col4{
	float: right;
	margin-top: 25px;
}
footer .col4 img{
	padding: 15px 25px;
	background: #db4682;
	background: -moz-linear-gradient(
		top,
		#d13071 0%,
		#d13071 50%,
		#db4682);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#d13071),
		color-stop(0.50, #d13071),
		to(#db4682));
	-moz-border-radius: 14px;
	-webkit-border-radius: 14px;
	border-radius: 10px;
	border: 3px solid #ffffff;
	-webkit-box-shadow: 1px 1px 3px 3px #019933;
	-moz-box-shadow: 1px 1px 3px 3px #019933;
	box-shadow: 1px 1px 3px 3px #019933;
}
footer .copyright {
	float: right;
	color: #ffffff;
	padding-top: 15px;
	line-height: 1.5;
	font-size: 80%;
		margin-top: 10px;

}
footer .end {
	clear: both;
}
article strong {
	font-weight: bold;
}
/* ------------------------------------- 
 *	TEXT SETTING
 * ------------------------------------- */
.smaller01 {
	font-size: 90%;
}
.button01 a {
	text-decoration: none;
	display: inline-block;
	text-align: center;
	color: #FFF;
	border-radius: 20px;
	padding-top: 10px;
	padding-right: 100px;
	padding-bottom: 10px;
	padding-left: 100px;
	margin-bottom: 20px;
background: #ac355b!important;
background: -webkit-gradient(linear, left top, left bottom, color-stop(0.88, #ac355b), color-stop(0.00, #D77997));
background: -webkit-linear-gradient(top, #D77997 0%, #ac355b 88%);
background: -moz-linear-gradient(top, #D77997 0%, #ac355b 88%);
background: -o-linear-gradient(top, #D77997 0%, #ac355b 88%);
background: -ms-linear-gradient(top, #D77997 0%, #ac355b 88%);
background: linear-gradient(to bottom, #D77997 0%, #ac355b 88%);

}
.button01 a:hover {
	opacity: 0.7;
}
.button02 {
	text-align: center;
	margin-top: 50px;
}
.button02 a {
	text-decoration: none;
	display: inline-block;
	text-align: center;
	color: #FFF;
	border-radius: 20px;
	padding-top: 10px;
	padding-right: 100px;
	padding-bottom: 10px;
	padding-left: 100px;
	margin-left: auto;
	margin-right: auto;
	background-color: #969696;
}
.button02 a:hover {
	opacity: 0.7;
}
.button03 {
	text-align: center;
}
.button03 a {
	background-color: #999;
	display: inline-block;
	padding: 10px;
	color: #FFF;
	border-radius: 5px;
}

/* ------------------------------------- 
 *	IMAGE SETTING
 * ------------------------------------- */

.ph-center {
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 10px;
}
.ph-right {
	float: right;
	margin-bottom: 10px;
	margin-left: 15px;
}
.ph-left {
	float: left;
	margin-right: 15px;
	margin-bottom: 10px;
}
.ph-frame {
	border: 5px solid #FFF;
	box-shadow: 0px 0px 5px #999;
	-webkit-box-shadow: 0px 0px 5px #999;
}

/* ------------------------------------- 
 *	エラー404ページ
 * ------------------------------------- */
#error404 h1 {
	padding-top: 30px;
	padding-bottom: 20px;
}
#error404 p {
	font-size: 107.8%;
	line-height: 1.5;
}
#error404 .sitemap {
	padding-top: 30px;
	margin-bottom: 50px;
}
#error404 .sitemap h2 {
	font-size: 107.8%;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #D98499;
	margin-bottom: 20px;
	padding-bottom: 10px;
}
#error404 .sitemap ul {
	margin-left: 2em;
}
#error404 .sitemap li {
	line-height: 1.5;
	font-size: 107.8%;
	list-style-type: circle;
	margin-bottom: 1em;
}
#error404 .sitemap li li {
	list-style-type: disc;
	margin-bottom: 0.5em;
	margin-left: 1em;
}

#main .session{
	margin: 0 25px 25px;
    background-color: #ece7df;
    border-radius: 10px;
    padding: 25px;
}
#main .session .category{
	font-size: 135%;
	color: #009847;	
	font-weight: bold;
}
#main .session h3{
	font-size: 180%;
	color: #d23c77;
	margin-top: 6px;
	margin-bottom: 15px;
	padding: 0;
}
#main .session .profile{
	margin-top: 20px;
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 25px;
}
#main .session h4{
	font-size: 135%;
	color: #00832d;
	padding: 0;
	margin: 0;
}
#main .session h4 .ruby{
	font-size: 80%;
	font-weight: normal;
}
#main .session hr{
	border: 0;
	height: 1px;
	background: #00832d;
	display: block;
	width:auto;
}
#main .session p{
	margin-bottom: 1.2em;
	margin: 0;
	padding-bottom: 10px;
	font-size: 90%;
}
#main .session .photo{
	float: right;
    background-color: #dccfb6;
    border-radius: 5px;
    padding: 5px;
margin: -40px -40px 15px 15px;
line-height: 0;
}


#main p {
	margin: 0 25px;
	padding-bottom: 10px;
}
#main table {
	width: 93%;
	margin: 25px;
}
#main thead{
	background-color: #ece7df;
}
#main table th {
	background-color: #E6E6E6;
	font-weight: normal;
}
#main table th, #main table td {
	padding: 5px;
	border: 1px solid #dddddd;
}
.center {
	font-size: 90%;
	text-align: center;
}
#main td p{
	margin: 5px;
	padding: 0;
}
#main td li {
	margin: 0 25px 5px 40px;
}
#main li {
	list-style:circle;
	margin: 15px 25px 15px 40px;
}
#main{
	font-size: 15px;
	color:#555555;
}

#main .outline dl {
	font-size: 100%;
	line-height: inherit;
	background-color: #FFF;
	margin: 25px;
	border-radius: 3px;
	border: 1px solid #d6cfc4;
	border-top: none;
		background-image: url(img/mainbg.png);
	background-repeat: repeat;
}
#main .outline dt,#main .outline dd {
	padding:  10px 25px;
}

#main .outline dt {
    width: 100px;  
	clear: left;
	float: left;
	border-top: 1px solid #d6cfc4;
}
#main .outline dd {
	margin-left: 150px;
	background-color: #FFF;
	border-top: 1px solid #d6cfc4;
}

#main dl {
	font-size: 100%;
	line-height: 1.5;
	background-color: #FFF;
	margin: 25px;
}
#main dt {
	color:#CC6600;
	padding-left: 20px;
	font-weight: bold;
}
#main dd {
	font-size: 90%;
	padding-left: 40px;
}
#main a{
	color: #2b38b0;
	text-decoration: none;
}
#main a:hover{
	color: #2b38b0;
	text-decoration: underline;
}
#main a:visited{
	color: #bc2066;
}
#main hr{
	border: 0;
	height: 1px;
	background: #00832d;
	display: block;	
	width: 95%;
}
#count {
	width: 690px;
	background-color: #00832d;
	margin: 25px 0;
	padding: 10px 40px;
	line-height: 0;
}
#CNT1{
	padding: 0 10px;
}
#CNT2{
	padding: 0 10px 0 40px;
}
.timer{
	font-size: 20px;
	color:#ffffff;
	vertical-align: super;
	font-weight: bold;	
}
.timer em{
	font-size:40px;
	font-weight: bolder;
}
.timer strong{
	font-size:30px;
	font-weight: bolder;
}

pre{
	border:1px solid #cccccc;
	padding: 10px;
	margin: 0 30px 30px;
	white-space: -moz-pre-wrap;  
    white-space: -pre-wrap;  
    white-space: -o-pre-wrap;  
    white-space: pre-wrap;  
    word-wrap: break-word;  
}
.more{
	text-align: right;
	 margin-right: 30px;
}
/* CSS Document */

body,div,dl,dt,dd,ul,ol,li,
h1,h2,h3,h4,h5,h6,
pre.code,form,fieldset,legend,
p,blockquote,table,th,td {margin:0; padding:0}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}




/*-----------hack-------------*/

/* modern browser except IE */
.clearfix:after {content:".";display:block;height:0;clear:both;visibility:hidden;}

/* IE7 and Mac IE5 */
.clearfix {display:inline-block;}

/* IE6 preIE6 */
/* Hides from IE-mac \*/
*html.clearfix{height:1%;}
.clearfix {display:block;}
/* End hide from IE-mac */

/*-----------For JS-------------*/
* html .iepngfix {behavior: expression(IEPNGFIX.fix(this));}
.imgover {}

/*-----------Other-------------*/


table {border-collapse:collapse; border-spacing:0; font-size:inherit;}
th,td {
	text-align:left;
	vertical-align: top;
	font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", Meiryo, "メイリオ", sans-serif;
}
table caption { text-align:left; display: none;}

ul,dl,ol {text-indent: 0;}
li {list-style: none}
address,caprion,cite,code,dfn,em,th,var ,strong{font-style:normal; font-weight:normal;}


/*-----------Other-------------*/

.clear {clear: both; font-size: 1px; line-height: 1px;}
img {border-style: none;}
hr {display: none;}
/*-----------link-------------*/


/* Automatically included across all of c5 - use this file gingerly */
img.ccm-captcha-image {display: block}

/* clear and pagination styles */
*.ccm-spacer {clear: both; font-size:1px; line-height:1px; }
div.ccm-pagination { text-align:center; position: relative}
div.ccm-pagination span.ccm-page-right {position: absolute; top: 0px; right: 0px; margin-right: 0px !important}
div.ccm-pagination span.ccm-page-right span {margin-right: 0px}
div.ccm-pagination span.ccm-page-left {position: absolute; top: 0px; left: 0px}
div.ccm-pagination span {margin-right: 4px}
.ccm-ui div.ccm-pagination span {margin-right: 0px;}

/* Extra pagination styling to make code generated by C5 pagination helper look nice */
div.pagination ul strong, div.pagination ul span.ltgray {
	display:block;
	padding:0 14px;
	float:left;
	line-height:34px;
	border-right:1px solid #DDD;
	text-decoration:none;
}

/* Layout */ 
/*
.ccm-layout .ccm-layout-cell{ overflow:hidden; }
*/
.ccm-layout-table .ccm-layout-col {float:left}
.ccm-layout .first .ccm-layout-col-spacing { margin-left:0px !important } 
.ccm-layout .last .ccm-layout-col-spacing { margin-right:0px !important } 

/* global error styles */
.ccm-error {font-weight: bold; color: #f00}
.ccm-required {font-weight: bold; color: #3975AD}

div#ccm-overlay {
	position: fixed;
	z-index:99;
	top: 0px;
	left: 0px;
	background-color:#000;
	filter:alpha(opacity=70);
	-moz-opacity: 0.7;
	opacity: 0.7;
	height:100%;
	width:100%;
	display: none;
} 

.ccm-input-time-wrapper select {width: 55px !important; margin-right: 4px !important;}
.ccm-input-date {width: 80px !important; margin-right: 4px !important;}