/* CSS Document */

body,div,dl,dt,dd,ul,ol,li,
h1,h2,h3,h4,h5,h6,
pre.code,form,fieldset,legend,
p,blockquote,table,th,td {margin:0; padding:0}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}




/*-----------hack-------------*/

/* modern browser except IE */
.clearfix:after {content:".";display:block;height:0;clear:both;visibility:hidden;}

/* IE7 and Mac IE5 */
.clearfix {display:inline-block;}

/* IE6 preIE6 */
/* Hides from IE-mac \*/
*html.clearfix{height:1%;}
.clearfix {display:block;}
/* End hide from IE-mac */

/*-----------For JS-------------*/
* html .iepngfix {behavior: expression(IEPNGFIX.fix(this));}
.imgover {}

/*-----------Other-------------*/


table {border-collapse:collapse; border-spacing:0; font-size:inherit;}
th,td {
	text-align:left;
	vertical-align: top;
	font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", Meiryo, "メイリオ", sans-serif;
}
table caption { text-align:left; display: none;}

ul,dl,ol {text-indent: 0;}
li {list-style: none}
address,caprion,cite,code,dfn,em,th,var ,strong{font-style:normal; font-weight:normal;}


/*-----------Other-------------*/

.clear {clear: both; font-size: 1px; line-height: 1px;}
img {border-style: none;}
hr {display: none;}
/*-----------link-------------*/

