<div id="ccm-layout-wrapper-173" class="ccm-layout-wrapper">
	<div id="ccm-layout-コンテンツ-4-1" class="ccm-layout ccm-layout-table  ccm-layout-name-コンテンツ-Layout-1 ">
		<div class="ccm-layout-row ccm-layout-row-1">
			<div class="ccm-layout-4-col-1 ccm-layout-cell ccm-layout-col ccm-layout-col-1 first" style="width:100%">
				<h2>会場アクセス</h2>
				<h3>周辺地図</h3>
				<p>アウガ 5F AV多機能ホール<br />住所：青森県青森市新町1丁目3番7号<br />電話：017-776-8800</p>
				<ul>
					<li>開催日はゴールデンウィークと重なりますので、交通機関や宿泊先のご予約はお早めにお済ませください。</li>
				</ul>
				<div id="blockStyle221Layout1Cell127" class=" ccm-block-styles" >
					<div id="HTMLBlock221" class="HTMLBlock">
						<iframe width="700" height="650" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps/ms?msid=214412679817641981551.0004d81ca4e3d4101b1ae&amp;msa=0&amp;ie=UTF8&amp;t=m&amp;source=embed&amp;ll=40.828959,140.736322&amp;spn=0.010554,0.01502&amp;z=16&amp;iwloc=0004d81ca5c0b5e71c3b7&amp;output=embed"></iframe><br />
						<small>より大きな地図で <a href="https://maps.google.com/maps/ms?msid=214412679817641981551.0004d81ca4e3d4101b1ae&amp;msa=0&amp;ie=UTF8&amp;t=m&amp;source=embed&amp;ll=40.828959,140.736322&amp;spn=0.010554,0.01502&amp;z=16&amp;iwloc=0004d81ca5c0b5e71c3b7" style="color:#0000FF;text-align:left">CSS Nite in AOMORI, Vol.7</a> を表示</small>
					</div>
				</div>
			</div>
		</div>
		<div class="ccm-spacer"></div>
	</div>
</div>
<div id="ccm-layout-wrapper-174" class="ccm-layout-wrapper">
	<div id="ccm-layout-コンテンツ-3-2" class="ccm-layout ccm-layout-table  ccm-layout-name-コンテンツ-Layout-2 ">
		<div class="ccm-layout-row ccm-layout-row-1">
			<div class="ccm-layout-3-col-1 ccm-layout-cell ccm-layout-col ccm-layout-col-1 first" style="width:33%">
				<h4>お車でお越しの方</h4>
				<p>東北自動車道 <a href="http://goo.gl/maps/c0yeM">青森中央I.C.</a>から車で15分。JR青森駅方面にお進みください。アウガには有料駐車場があります（5F 青森市男女共同参画プラザ窓口にて、駐車料金1時間無料となるスタンプを発行しています）</p>
			</div>
			<div class="ccm-layout-3-col-2 ccm-layout-cell ccm-layout-col ccm-layout-col-2 " style="width:33%">
				<h4>電車でお越しの方</h4>
				<p class="font-small" style="margin-right: 1em;"><a href="http://goo.gl/maps/qCwQu">JR青森駅</a>下車、徒歩2分です（※新青森駅ではありませんのでご注意ください）。アウガ地下には魚介海産物や青果などのお店が並ぶ<a href="http://www.auga.co.jp/shinsen.html" target="_blank">新鮮市場</a>があり、豊富な旬の生鮮品や日用品を求める人びとでにぎわいます。</p>
			</div>
			<div class="ccm-layout-3-col-3 ccm-layout-cell ccm-layout-col ccm-layout-col-3 last" style="width:33.99%">
				<h4>飛行機でお越しの方</h4>
				<p><a href="http://goo.gl/maps/WFpJ2">青森空港</a>から、タクシーまたはレンタカーにてご来場ください。所要時間は30分ほどです。連絡バスもありますが、ルートによっては１時間ほどかかる場合がありますので、事前によくご確認ください。</p>
			</div>
			<div class="ccm-spacer"></div>
		</div>
	</div>
</div>
<h3>会場周辺について</h3>
<p>お車でお越しのかたは、アウガ駐車場をご利用いただくか、ページ上部の<a href="http://goo.gl/maps/0LrMj">周辺地図</a>にある最寄りの駐車場をご利用ください。</p>
<p>なお、開催日はゴールデンウィークと重なり、隣接する一般駐車場が満車となる可能性があります。あらかじめ公共機関をご利用いただくか、最寄りの駐車場の位置を把握したうえで、時間に余裕を持ってお越しください。</p>
<h4>会場１階の見取り図</h4>
<p>セミナー会場に移動するには、正面入口（新町通り側入口）奥にあるエレベーターで5階に移動してください。</p>
<p><img style="margin: 10px auto; display: block;" src="./img/map-1f.gif" alt="" width="600" height="325" /></p>
<h3>セミナー会場は5階です</h3>
<p>セミナー会場は5階の「AV多機能ホール」です。会場前に受付がありますので、そこで参加料金をお支払いください。</p>
<p><img style="margin: 20px auto; display: block;" src="./img/auga-5f.jpg" alt="" width="600" height="450" /></p>
<h3>実行委員会からのお願い</h3>
<p>セミナー開始間近は<strong>受付が大変に混雑</strong>いたします。開始時間が遅れると、<strong>貴重なセミナー時間を短くするなどの処置</strong>が必要になります。</p>
<p>お時間に余裕もってお越しいただき、お早めに受付をおすませください。なお、<strong>受付は13時00分から開始</strong>いたします。席はすべて自由席です。良い席をお求めのかたは、お早めに受付をお済ませください。</p>
<h3>懇親会会場について</h3>
<p>懇親会会場：<a href="http://goo.gl/maps/e41HG">わいん倶楽部</a><br />住所：青森県青森市新町2-2-1　協働社ビル2F<br />電話：017-721-4422 </p>
<p>懇親会会場までは徒歩5〜7分です。場所が分からない方は、地図を用意していますので、実行委員へお申し出ください。</p>